body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.lien {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
}
