<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détails de l'Employé</title>
</head>
<body>
<h1>Détails de l'Employé</h1>
<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.firstname}"></td>
        <td th:text="${employee.birthdate}"></td>
    </tr>
</table>
</body>
</html>
