<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Employés</title>
</head>
<body>

<nav>
    <a href="/employees/new">Ajouter</a>
    <a href="/employees">Liste</a>
</nav>

<h1>Liste des Employés</h1>
<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date Naissance</th>
        <th>Matricule</th>
        <th>Actions</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.firstname}"></td>
        <td th:text="${employee.birthdate}"></td>
        <td th:text="${employee.matricule}"></td>
        <td>
            <a class="button-link" th:href="@{/employees/{id}/edit(id=*{employee.id})}">Modifier</a>
            <a class="button-link" th:href="@{/employees/{id}/delete(id=*{employee.id})}">Supprimer</a>
            <a class="button-link" th:href="@{/employees/{id}/fiche(id=*{employee.id})}">Fiche Employé</a>
        </td>
    </tr>
</table>

</body>
<link th:href="@{/styles/list.css}" rel="stylesheet" />
</html>
